<header>
    <div class = 'container'>
        <div class = 'nav'>
            <a href="/">MyFace</a>
            <div class = 'centrallinks'>
                <a href="/">Home</a>
                <a href="/posts">Posts</a>
                <a href="/users">Users</a>
            </div>
            <a href="/posts/create" > + New Post </a>
        </div>
    </div>
</header>