<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>
<body>
<h1>Create Post</h1>
<form method = "post" action = "/posts/create">
    <label>
        Message:
        <input type = 'text' name = 'message'/>
    </label>
    <label>
        Image:
        <input type = 'text' name = 'imageUrl'/>
    </label>

    <button type = 'text'> Submit</button>

</form>
</body>
<%- include('_footer') -%>
</html>